.editButtons span{
    display:inline-block;
    white-space:nowrap;
}
.editButtons{
    background:var(--dark-secondary-color-hover);
    padding: 0.5rem;
    justify-content: center;
    border-radius: 8px;
    margin-bottom: 1rem;

}

  [data-edit] {
    float:left;
    border:0;
    font: 1.3rem/1 monospace;
    color:rgb(235, 235, 235);
    padding:0.5rem 1rem;
    background:var(--dark-secondary-color);
    border: none;
    outline: none;
  }
